* {
    margin: 0;
}

h6 {
    text-align: center;
}

p {
    margin-top: -1em;
    text-align: center;
}

    p a {
        margin-top: 2em;
        color: #00c8Ff;
    }

#dropdownContent hr {
    width: 70%;
    margin-top: 10px;
    margin: auto;
}

footer hr {
    width: 50%;
    margin: auto;
    margin-bottom: 1.7em;
}

.logo_forum {
    margin-bottom: -4.8em;
    margin-left: 1em;
}

.liste_entiere {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

#dropdownButton {
    background-color: #4B2A85;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

#dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5em;
    overflow-y: auto;
    max-height: 330px;
    left: 50%;
    transform: translateX(-50%);
}

    #dropdownContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    #dropdownContent input {
        color: black;
        background-color: #f9f9f9;
        padding-top: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        border: none;
    }

    #dropdownContent a:hover {
        background-color: #4B2A85;
        color: white;
    }

.custom-dropdown:hover .dropdown-content {
    display: block;
}

#svg924 {
    margin-top: 2em;
}

.Button::after {
    content: '  ⌵';
    font-size: 1em;
}

#searchInput {
    text-align: center;
    width: 100%;
}

.nom {
    margin-top: 2em;
}

#ConstructionBTP {
    display: none;
}

#Automobile {
    display: none;
}

#Industrie {
    display: none;
}

#Sante {
    display: none;
}

#Droit {
    display: none;
}

#Hotellerie {
    display: none;
}

#Commerce {
    display: none;
}

#Agriculture {
    display: none;
}

#Defense {
    display: none;
}

#Communication {
    display: none;
}

#Formation {
    display: none;
}

#MFR {
    display: none;
}

.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #f9f9f9;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;
}

.Button.Dropdown {
    max-width: 400px;
}

    .Button:hover {
        background-color: #4B2A85;
        color: white;
    }

@media screen and (max-width: 1000px) {
    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo_forum {
        margin-bottom: 1.5em;
    }

    #liste {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
}

footer {
    background-color: #45526e;
}

.nom :hover{
    color: white;
    transition: 1s;
}

#standClique {
    margin-top: 3em;
    display: flex;
    align-items: center;
    margin-left: 2em;
    color: #4B2A85;
}


#popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; 
/*popup caché par défaut*/
    pointer-events: none; 
}